.e1_805 { 
	overflow:hidden;
}
.e1_805 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e1_806 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:812px;
	position:absolute;
	left:532.95703125px;
	top:105.923828125px;
}
.e1_807 { 
	color:rgba(34.00000177323818, 200.00000327825546, 188.0000039935112, 1);
	width:173.9583282470703px;
	height:21.875px;
	position:absolute;
	left:100.5px;
	top:134.79150390625px;
	font-family:Gabriela;
	text-align:center;
	font-size:20.833332061767578px;
	letter-spacing:0;
}
.e1_808 { 
	transform: rotate(-3.975693351829396e-16deg);
	width:261.2287902832031px;
	height:197.9166717529297px;
	position:absolute;
	left:46.33203125px;
	top:197.2919921875px;
}
.e1_809 { 
	background-color:rgba(255, 217.0000022649765, 171.00000500679016, 1);
	width:56.25px;
	height:68.75px;
	position:absolute;
	left:78.125px;
	top:0px;
}
.e1_810 { 
	background-color:rgba(255, 229.00000154972076, 199.0000033378601, 1);
	width:64.58333587646484px;
	height:56.25px;
	position:absolute;
	left:109.375px;
	top:12.5px;
}
.e1_811 { 
	background-color:rgba(245.00000059604645, 147.00000643730164, 143.00000667572021, 1);
	width:47.91666793823242px;
	height:85.41666412353516px;
	position:absolute;
	left:119.791015625px;
	top:32.29150390625px;
}
.e1_812 { 
	background-color:rgba(84.00000259280205, 47.0000009983778, 84.00000259280205, 1);
	opacity:0.75;
	width:8.333333015441895px;
	height:9.375px;
	position:absolute;
	left:151.041015625px;
	top:77.083251953125px;
}
.e1_813 { 
	background-color:rgba(249.00000035762787, 173.00000488758087, 143.00000667572021, 1);
	width:70.83333587646484px;
	height:76.04166412353516px;
	position:absolute;
	left:50px;
	top:93.75px;
}
.e1_814 { 
	background-color:rgba(165.00000536441803, 215.0000023841858, 228.0000016093254, 1);
	width:42.70833206176758px;
	height:108.33333587646484px;
	position:absolute;
	left:143.75px;
	top:89.58333587646484px;
}
.e1_815 { 
	background-color:rgba(148.000006377697, 209.00000274181366, 223.00000190734863, 1);
	width:42.70833206176758px;
	height:108.33333587646484px;
	position:absolute;
	left:103.125px;
	top:89.58333587646484px;
}
.e1_816 { 
	background-color:rgba(255, 229.00000154972076, 199.0000033378601, 1);
	width:46.875px;
	height:33.33333206176758px;
	position:absolute;
	left:121.875px;
	top:23.95849609375px;
}
.e1_817 { 
	background-color:rgba(255, 229.00000154972076, 199.0000033378601, 1);
	width:5.208333492279053px;
	height:2.0833332538604736px;
	position:absolute;
	left:142.708984375px;
	top:44.79150390625px;
}
.e1_818 { 
	background-color:rgba(255, 229.00000154972076, 199.0000033378601, 1);
	width:5.208333492279053px;
	height:3.125px;
	position:absolute;
	left:157.291015625px;
	top:44.79150390625px;
}
.e1_819 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.30000001192092896;
	width:17.70833396911621px;
	height:10.416666984558105px;
	position:absolute;
	left:132.291015625px;
	top:47.91650390625px;
}
.e1_820 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.30000001192092896;
	width:14.583333015441895px;
	height:11.458333015441895px;
	position:absolute;
	left:156.25px;
	top:46.875px;
}
.e1_821 { 
	border:1.8645832538604736px solid rgba(255, 255, 255, 1);
}
.e1_821 { 
	width:17.70833396911621px;
	height:10.416666984558105px;
	position:absolute;
	left:132.291015625px;
	top:47.91650390625px;
}
.e1_822 { 
	border:1.7916666269302368px solid rgba(255, 255, 255, 1);
}
.e1_822 { 
	width:14.583333015441895px;
	height:11.458333015441895px;
	position:absolute;
	left:156.25px;
	top:46.875px;
}
.e1_823 { 
	border:1.8645832538604736px solid rgba(255, 255, 255, 1);
}
.e1_823 { 
	width:4.166666507720947px;
	height:2.0833332538604736px;
	position:absolute;
	left:129.166015625px;
	top:52.08349609375px;
}
.e1_824 { 
	background-color:rgba(169.00000512599945, 66.00000366568565, 95.00000193715096, 1);
	width:1.0416666269302368px;
	height:3.125px;
	position:absolute;
	left:159.375px;
	top:52.08349609375px;
}
.e1_825 { 
	background-color:rgba(169.00000512599945, 66.00000366568565, 95.00000193715096, 1);
	width:1.0416666269302368px;
	height:3.125px;
	position:absolute;
	left:145.833984375px;
	top:52.08349609375px;
}
.e1_826 { 
	background-color:rgba(84.00000259280205, 47.0000009983778, 84.00000259280205, 1);
	width:6.25px;
	height:12.5px;
	position:absolute;
	left:151.041015625px;
	top:48.95849609375px;
}
.e1_827 { 
	background-color:rgba(84.00000259280205, 47.0000009983778, 84.00000259280205, 1);
	opacity:0.75;
	width:11.458333015441895px;
	height:9.375px;
	position:absolute;
	left:134.375px;
	top:56.25px;
}
.e1_828 { 
	background-color:rgba(84.00000259280205, 47.0000009983778, 84.00000259280205, 1);
	opacity:0.75;
	width:6.25px;
	height:9.375px;
	position:absolute;
	left:161.458984375px;
	top:55.20849609375px;
}
.e1_829 { 
	background-color:rgba(255, 255, 255, 1);
	width:7.291666507720947px;
	height:5.208333492279053px;
	position:absolute;
	left:147.916015625px;
	top:61.458251953125px;
}
.e1_830 { 
	background-color:rgba(204.00000303983688, 231.00000143051147, 238.00000101327896, 1);
	width:22.91666603088379px;
	height:32.29166793823242px;
	position:absolute;
	left:147.916015625px;
	top:86.458251953125px;
}
.e1_831 { 
	background-color:rgba(204.00000303983688, 231.00000143051147, 238.00000101327896, 1);
	width:20.83333396911621px;
	height:31.25px;
	position:absolute;
	left:118.75px;
	top:87.5px;
}
.e1_832 { 
	border:1.8645832538604736px solid rgba(255, 255, 255, 1);
}
.e1_832 { 
	width:5.208333492279053px;
	height:1.0416666269302368px;
	position:absolute;
	left:151.041015625px;
	top:52.08349609375px;
}
.e1_833 { 
	background-color:rgba(204.00000303983688, 231.00000143051147, 238.00000101327896, 1);
	width:2.0833332538604736px;
	height:3.125px;
	position:absolute;
	left:147.916015625px;
	top:116.666748046875px;
}
.e1_834 { 
	background-color:rgba(204.00000303983688, 231.00000143051147, 238.00000101327896, 1);
	width:2.0833332538604736px;
	height:2.0833332538604736px;
	position:absolute;
	left:147.916015625px;
	top:131.25px;
}
.e1_835 { 
	background-color:rgba(204.00000303983688, 231.00000143051147, 238.00000101327896, 1);
	width:2.0833332538604736px;
	height:2.0833332538604736px;
	position:absolute;
	left:148.958984375px;
	top:142.708251953125px;
}
.e1_836 { 
	background-color:rgba(204.00000303983688, 231.00000143051147, 238.00000101327896, 1);
	width:3.125px;
	height:2.0833332538604736px;
	position:absolute;
	left:147.916015625px;
	top:157.291748046875px;
}
.e1_837 { 
	background-color:rgba(68.00000354647636, 65.0000037252903, 89.00000229477882, 1);
	width:14.583333015441895px;
	height:16.66666603088379px;
	position:absolute;
	left:117.708984375px;
	top:50px;
}
.e1_838 { 
	background-color:rgba(68.00000354647636, 65.0000037252903, 89.00000229477882, 1);
	width:31.25px;
	height:45.83333206176758px;
	position:absolute;
	left:123.958984375px;
	top:11.45849609375px;
}
.e1_839 { 
	background-color:rgba(111.00000098347664, 110.00000104308128, 135.00000715255737, 1);
	width:10.416666984558105px;
	height:10.416666984558105px;
	position:absolute;
	left:119.791015625px;
	top:53.125px;
}
.e1_840 { 
	background-color:rgba(68.00000354647636, 65.0000037252903, 89.00000229477882, 1);
	width:17.70833396911621px;
	height:12.5px;
	position:absolute;
	left:125px;
	top:58.33349609375px;
}
.e1_841 { 
	background-color:rgba(111.00000098347664, 110.00000104308128, 135.00000715255737, 1);
	width:6.25px;
	height:5.208333492279053px;
	position:absolute;
	left:139.583984375px;
	top:67.708251953125px;
}
.e1_842 { 
	background-color:rgba(84.00000259280205, 47.0000009983778, 84.00000259280205, 1);
	opacity:0.75;
	width:5.208333492279053px;
	height:16.66666603088379px;
	position:absolute;
	left:50px;
	top:152.0833282470703px;
}
.e1_843 { 
	background-color:rgba(255, 255, 255, 1);
	width:12.5px;
	height:12.5px;
	position:absolute;
	left:0px;
	top:178.125px;
}
.e1_844 { 
	background-color:rgba(165.00000536441803, 215.0000023841858, 228.0000016093254, 1);
	width:68.75px;
	height:76.04166412353516px;
	position:absolute;
	left:170.833984375px;
	top:95.833251953125px;
}
.e1_845 { 
	width:45.260040283203125px;
	height:89.21553802490234px;
	position:absolute;
	left:215.96875px;
	top:83.76953125px;
}
.e1_846 { 
	background-color:rgba(245.00000059604645, 147.00000643730164, 143.00000667572021, 1);
	width:31.742462158203125px;
	height:38.76902389526367px;
	position:absolute;
	left:13.517578125px;
	top:0px;
}
.e1_847 { 
	background-color:rgba(204.00000303983688, 231.00000143051147, 238.00000101327896, 1);
	width:25.996822357177734px;
	height:28.034914016723633px;
	position:absolute;
	left:0px;
	top:61.18062210083008px;
}
.e1_848 { 
	background-color:rgba(245.00000059604645, 147.00000643730164, 143.00000667572021, 1);
	width:31.128637313842773px;
	height:67.22614288330078px;
	position:absolute;
	left:2.0078125px;
	top:18.41357421875px;
}
.e1_849 { 
	background-color:rgba(84.00000259280205, 47.0000009983778, 84.00000259280205, 1);
	opacity:0.75;
	width:13.375667572021484px;
	height:9.637264251708984px;
	position:absolute;
	left:11.54296875px;
	top:76.095703125px;
}
.e1_850 { 
	background-color:rgba(148.000006377697, 209.00000274181366, 223.00000190734863, 1);
	width:63.54166793823242px;
	height:75px;
	position:absolute;
	left:50px;
	top:92.70833587646484px;
}
.e1_851 { 
	background-color:rgba(204.00000303983688, 231.00000143051147, 238.00000101327896, 1);
	width:33.33333206176758px;
	height:23.95833396911621px;
	position:absolute;
	left:46.875px;
	top:145.8333282470703px;
}
.e1_852 { 
	width:85.24794006347656px;
	height:25.501415252685547px;
	position:absolute;
	left:49.300785064697266px;
	top:147.9297637939453px;
}
.e1_853 { 
	background-color:rgba(245.00000059604645, 147.00000643730164, 143.00000667572021, 1);
	width:66.624755859375px;
	height:24.167329788208008px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_854 { 
	background-color:rgba(245.00000059604645, 147.00000643730164, 143.00000667572021, 1);
	width:47.79090881347656px;
	height:19.661815643310547px;
	position:absolute;
	left:37.45703125px;
	top:5.839599609375px;
}
.e1_855 { 
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:55.20833206176758px;
	position:absolute;
	left:13px;
	top:365px;
	border-top-left-radius:15.624999046325684px;
	border-top-right-radius:15.624999046325684px;
	border-bottom-left-radius:15.624999046325684px;
	border-bottom-right-radius:15.624999046325684px;
}
.e1_855 { 
	border:1.0416666269302368px solid rgba(45.00000111758709, 121.00000038743019, 109.00000110268593, 1);
}
.e1_856 { 
	width:19.545862197875977px;
	height:20.022899627685547px;
	position:absolute;
	left:321.33203125px;
	top:382.593017578125px;
}
.e1_857 { 
	border-radius:500px;
	width:18.726163864135742px;
	height:18.726163864135742px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_857 { 
	border:1.5625px solid rgba(164.6874949336052, 164.6874949336052, 164.6874949336052, 1);
}
.e1_858 { 
	border:1.5625px solid rgba(164.6874949336052, 164.6874949336052, 164.6874949336052, 1);
}
.e1_858 { 
	width:3.6708619594573975px;
	height:3.661327362060547px;
	position:absolute;
	left:15.875px;
	top:16.361572265625px;
}
.e1_859 { 
	color:rgba(0, 68.00000354647636, 69.00000348687172, 1);
	width:250px;
	height:33.33333206176758px;
	position:absolute;
	left:125.5px;
	top:61px;
	font-family:Futura PT;
	text-align:left;
	font-size:26.04166603088379px;
	letter-spacing:0;
}
